<section class='section'>
	<div class='container'>

		<section class='section'>
		    <div class='container'>
		      <h1 class='title'>
		        BucketList
		      </h1>
		      <p class='subtitle'>
		        Add a goal to complete, then click to <strong>Finish it!</strong>!
		      </p>
		    </div>
		</section>

		<section class='section is-dark'>
			<div class='container is-dark'>

				<div class='field has-addons'>
				  <div class='control'>
				    <input class='input' type='text' id='name' placeholder='Get Rich'>
				  </div>
				  <div class='control'>
				    <button id='addBurgerBtn' type='submit' class='button is-link'>
				      Set Goal
				    </button>
				  </div>
				</div>

				<br /><br />

				<div class='columns'>

					<div class='column is-6'>
						<div class='box'>
							<div class='box is-dark'>
								<h3> Still Aspiring </h3>
							</div>
							<div>
								{{#each burgers}}
									{{#unless this.devoured}}
										{{> burgers/burger-block }}
									{{/unless}}
								{{/each}}
							</div>
						</div>
					</div>

					<div class='column is-6'>
						<div class='box'>
							<div class='box'>
								<h1>  Achieved </h1>
							</div>
							<div class=''>
								{{#each burgers}}
									{{#if this.devoured}}
										<span class='level'>
											<span class='level-left'>
												<span class='level-item'>{{this.burger_name}}</span>
											</span>
											<span class='level-right'>
												<button data-id={{this.id}} class='destroyBtn button is-danger' type='submit'>
													delete goal forever
												</button>
											</span>
										</span>
									{{/if}}
								{{/each}}			
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>

	</div>
</section>

