<span class='level'>
  <span class='level-left'>
    <span class='level-item'>{{this.burger_name}}</span>
  </span>
  <span class='level-right'>
    <button data-id={{this.id}} class='devouredBtn level-item button is-success' type='submit'>
      Finish this goal
    </button>
  </span>
</span>